/* App.css */

body, .App {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(to right, #ff6b6b, #556270);
}

.content {
  text-align: center;
  color: white;
}
